{% extends "layout.html" %}

{% block title %}YAzZy{% endblock %}

{% block content %}

      <h1>What is YAzZy?</h1>
      <p>Bring your wardrobe to life! Organize what you want, how you want it, whenever you want it. All with a click of a button.</p>
      <p>With the help of Yazzy:</p>
      <ul>
        <li>upload your photos onto a database for easy access</li>
        <li>access your online closet from wherever you want</li>
        <li>add personlized categories, creaing your perfect outfits for any event, whether it be your best friend's birthday party or a family vacation, or just based on the type of clothing</li>
        <li>have the ability to store items of clothing in multiple categories with easy access</li>
      </ul>
      <h2>Categories</h2>
      <a href="/page3">Seasons</a> <br>
      <a href="/page4">Parties</a> <br>    
    <p>YAzZy is a Web Application project developed by the collaborative efforts of students at UC San Diego in the SPIS program</p>
{% endblock %}
