{% extends "layout.html" %}

{% block title %}Yazzy{% endblock %}

{% block content %}
<style>
body {
  background-image: url("http://www.jolynphoto.com/j/2017/06/closet-systems-home-depot-martha-stewart-closet-shelving-closet-at-home-depot-home-depot-closet-organizer-systems-closet-the-home-depot-home-depot-martha-stewart-closet-how-to-install-closet-or.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes bottomFadeOut1 {
  0% {
    position: center;
    opacity: 0;
}

  100% {
    position: center;
    opacity: 1;
}
}

h1 {
  opacity: 1;
  animation-name: bottomFadeOut1;
  animation-duration: 2s;
  text-align: center;
}

.credits, .list-header, .intro-text, .get-started, .list-one, .list-two, .list-three, .list-four, h1 {
  font-family: Verdana;
  text-shadow: 2px 2px 5px black;
  color: white;
}

.list-header, .intro-text, .get-started, .list-one, .list-two, .list-three, .list-four {
  font-size: 15px;
}

.list-header, .list-one, .list-two, .list-three, .list-four {
  text-align: center;
} 

.credits {
  font-size: 12px;
  text-align: center;
}

@keyframes slideleft1 {
  0% {
    position: absolute;
    left: 0%;
    opacity: 0;
}

  100% {
    position: absolute;
    left: 35%;
    opacity: 1;
}
}

@keyframes slideright1 {
  0% {
    postition: absolute;
    right: 0%;
    opacity: 0;
}

  100% {
    position: absolute;
    right: 35%;
    opacity: 1;
}
}

.list-one {
  position: absolute;
  left: 35%;
  animation-name: slideleft1;
  animation-duration: 3s;
}

.list-two {
  position: absolute;
  right: 35%;
  animation-name: slideright1;
  animation-duration: 3s;
}

.list-three {
  position: absolute;
  left: 35%;
  animation-name: slideleft1;
  animation-duration: 3s;
}

.list-four {
  position: absolute;
  right: 35%;
  animation-name: slideright1;
  animation-duration: 3s;
}

.intro-text {
  position: absolute;
  animation-name: bottomFadeOut1;
  animation-duration: 2s;
}

.list-header {
  position: relative;
  animation-name: bottomFadeOut1;
  animation-duration: 2s;
}

.get-started {
  position: absolute;
  animation-name: bottomFadeOut1;
  animation-duration: 2s;
}

</style>

<h1><strong>Welcome to Yazzy!</h1>
<div class="intro-text"><br>Bring your wardrobe to life! Organize what you want, how you want it, whenever you want it. All with a click of a button.</div><br><br><br><br>
<div class="list-header">With the help of Yazzy:</div><br>
<div class="list-one">-Upload your photos onto a database for easy access</div><br>
<div class="list-two">-Access your online closet from wherever you want</div><br>
<div class="list-three">-Add personlized categories, creating your perfect<br> outfits for any event, whether it be your best friend's<br> birthday party or a family vacation, or just based on<br> the type of clothing</div><br><br><br><br>
<div class="list-four">-Have the ability to store items of clothing in<br> multiple categories with easy access</div><br><br><br><br><br>
<div class="get-started">To get started, click on the Login button in the top-right corner!</div><br><br><br><br><br><br>
<div class="credits">Yazzy is a Web Application project developed by the collaborative efforts of students at UC San Diego in the SPIS program</div>
{% endblock %}
