{% extends "layout.html" %}

{% block title %}YAzZy{% endblock %}

{% block content %}

      <h1>What is YAzZy?</h1>
      <p>YAzZy is a closet organizer</p>
      <p>It can do all sorts of things</p>
      <ul>
        <li>thing 1</li>
        <li>thing 2</li>
        <li>thing 3</li>
        <li>thing 4</li>
        <li>thing 5</li>
      </ul>
      <h2>Categories</h2>
      <a href="/page3">Seasons</a> <br>
      <a href="/page4">Parties</a> <br>    
    <p>YAzZy is a Web Application project developed by the collaborative efforts of students at UC San Diego in the SPIS program</p>
{% endblock %}
