<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="logo" src="https://raw.githubusercontent.com/yrajput/spis17-oauth-org-example-Yousuf--Alex/master/resizedlogo.png" alt = "Home"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/page2">Upload</a></li>
        <li><a href="/page1">Closet</a></li>
        <li><a href="/page3">Seasons</a></li>
        <li><a href="/page4">Parties</a></li>
        <li><a href="/page5">Beach</a></li>
        <li><a href="/page6">Professional</a></li>

      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      
   <!-- Checks if logged_in is true to display your github avatar and name -->  
   <!-- logged_in is injected from webapp.py using the token from OAuth -->
	{% if logged_in %}
	      <li><a class="navbar-brand" href="#">
	      <img class="avatar" src="{{ session['user_data']['avatar_url'] }}&s=30" 
		     width="30" height="30" style="display: inline-block;" ></a></li>

	      <li><p class="navbar-text"></p></li>	
              <li><div class="navbar-text">Github userid: {{ session['user_data']['login']}}</li>
	{% endif %}
  
        <!-- Displays the correct button to log the user in or out -->
        <li>
          {% if logged_in %}
	          <a href="/logout">Logout</a>
	        {% else %}
	          <a href="/login">Login</a>
	        {% endif %} 
	      </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
