{% extends "layout.html" %}

{% block title %}Closet{% endblock %}

{% block content %}
<style>
body {
  background-image: url("https://i.pinimg.com/736x/e1/5f/b2/e15fb225374f8e12ffb67f8fd7b45eb7--walk-in-closet-closets.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  opacity: 1;
  animation-name: bottomFadeOut1;
  animation-duration: 2s;
  text-align: center;
}

p {
  animation-name: slideleft1;
  animation-duration: 2s;
  opacity: 1;
}

h1, p {
  font-family: Verdana;
  text-shadow: 2px 2px 5px black;
  color: white;
}

@keyframes bottomFadeOut1 {
  0% {
    opacity: 0;
    position: center;
}

  100% {
    opacity: 1;
    position: center;
}
}

@keyframes slideleft1 {
  0% {
    left: 100%;
    opacity: 0;
    position: absolute;
}

  100% {
    left: 1%;
    opacity: 1;
    position: absolute;
}
}

</style>

  <h1><strong>Closet</h1>

  <p>Welcome to your closet! What do you plan on wearing next?</p>

  {% for path in paths %}

  <p> The path is "/static{{ path }}" </p><br><br><br>

  <img src={{ path }}>
  {% endfor %}


{% endblock %}
