{% extends "layout.html" %}

{% block title %}Closet{% endblock %}

{% block content %}
<style>
body {
  background-image: url("https://i.pinimg.com/736x/e1/5f/b2/e15fb225374f8e12ffb67f8fd7b45eb7--walk-in-closet-closets.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
</style>

  <h1>Closet</h1>

  <p>Welcome to your closet! What do you plan on wearing next?</p>

  <p> The path is "/static{{ path }}" </p>

  <img src="{{url_for('static', filename={{path}})}}" />


{% endblock %}
